<!DOCTYPE html>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<body style="font-family: courier new">
<html>
  <head>
    <title>Edit Event</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel='stylesheet' type='text/css' href='edit.css'>    
  </head>
<div class="container mt-4">
  <body>
    <%# Flash Message %>
    <% flash.each do |type, msg| %>
      <div class="alert alert-<%= type %>">
        <%= msg %>
      </div>
    <% end %>

    <h2>Edit Existing Event</h2>
    <%= form_tag event_path(@event), :method => :put do %>
        <%= label :event, :title, 'Title', :class => 'col-form-label' %>
        <%= text_field :event, 'title', :class => 'form-control' %>

        <%= label :event, :category, 'Category', :class => 'col-form-label'  %>
        <br/>
        <%= select :event, :category, ["athletics", "academics", "career", "culture", "fun"], {}, {:class => 'form-control col-1'} %>
        <br/>
        
        <%= label :event, :location, 'Location', :class => 'col-form-label' %>
        <%= text_field :event, 'location', :class => 'form-control' %>

        
        <%= label :event, :start_time, 'Start Time', :class => 'col-form-label'  %>
        <br/>
        <%= datetime_select :event, :start_time, {}, :class => 'form-control col-2 d-inline' %>

        <br/>
        <%= label :event, :end_time, 'End Time', :class => 'col-form-label'  %>
        <br/>
        <%= datetime_select :event, :end_time, {}, :class => 'form-control col-2 d-inline' %>
        <br/>
        <%= submit_tag 'Update event Info', :class => 'btn btn-primary' %>
        <%= link_to 'Cancel', events_path, :class => 'btn btn-secondary' %>
    <% end %>
  
</br>
    <h2>Upload a local file</h2>
    <%= form_tag(upload_local_file_path, method: :post, class: 'border p-4', multipart: true) do %>
      <div>
        <div class="upload-file">
          <label class="mb-0">File to upload</label>
          <div class="input-group mb-3">
            <input type="file" class="custom-file-input" accept="image/jpg, image/png, image/jpeg" onchange= "preview()" id="uploadFileInput" name="file[file]">
            <label class="custom-file-label" for="uploadFileInput"></label>
            <img id="frame" src="" width="100px" height="100px">
          </div>

          <div class="mb-3">
            <label class="mb-0" for="fileMimeType">Mime type</label>
            <input type="text" class="form-control" id="fileMimeType" name="file[mime_type]">
          </div>

          <div class="mb-3">
            <label class="mb-0" for="filename">Filename</label>
            <input type="text" class="form-control" id="filename" name="file[filename]">
          </div>
        </div>


      <%= submit_tag 'Upload file', class: 'btn btn-primary mt-4' %>
    <% end %>

  </body>
</div>


<script>
  (function() {
    const fileInput = document.querySelector('.custom-file-input');

    fileInput.addEventListener('change', evt => {
      let file = evt.currentTarget.files[0];

      let formElement = document.querySelector('form');

      let uploadLabelElement = document.getElementsByClassName('custom-file-label')[0];
      uploadLabelElement.innerText = file.name;

      let filenameInput = document.getElementById('filename');
      filenameInput.value = file.name;

      let mimeTypeInput = document.getElementById('fileMimeType');
      mimeTypeInput.value = file.type;
    })
  })()
  function preview(){
    frame.src=URL.createObjectURL(event.target.files[0]);
  }

</script>
</html>