<!--  This file is app/views/events/index.html.erb -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<body style="font-family: courier new">

<div class="navbar navbar-dark bg-dark shadow-sm">
  <h2 style="color: white">Lasso! - Stay in the Loop.</h2>
  <ul class="nav justify-content-end">
    <li class="nav-item">
      <%= link_to 'Register', '/register', :class => 'btn btn-secondary mr-sm-2' %>
    </li>
    <li class="nav-item">
      <a href="/sign_in" class='btn btn-secondary mr-sm-2' style="<%=@sign_in_display%>">Sign In</a>
    </li>
    <li class="nav-item">
      <a href="/sign_out" class='btn btn-secondary mr-sm-2' style="<%=@sign_out_display%>">Sign Out</a>
    </li>
  </ul>
</div>



<div class="container mt-4">
  <div class="row">
    <div class="col-2">
      <div class="card">
        <div class="card-header">
          <h3 style="text-align:center">Events Filter</h3>
        </div>
        <div class="card-body">
          <%= form_tag events_path, method: :get, id: 'categories_form' do %>
            <%= hidden_field_tag 'sort_by', @sort_by %>
            Include:
            <% @all_categories.each do |category| %>
              <li class="list-group-item border-0 text-center">
                <div class="form-check  form-check-inline align-items-center">
                  <%= label_tag "categories[#{category}]", category, class: 'form-check-label' %>
                  <%= check_box_tag "categories[#{category}]", '1', (@categories_to_show_hash.include?(category)),
                    class: 'form-check-input' %>
                </div>
              </li>
            <% end %>
            <%= submit_tag 'Refresh', id: 'categories_submit', class: 'btn btn-info' %>
          <% end %>
        </div>
      </div>
    </div>

  <div class="col-10">
    <div class="card">
      <div class="card_body justify-content-center">
        <%= month_calendar(events: @meetings) do |date, meetings| %>
          <%= date %>
            <% meetings.each do |meeting| %>
            <div>
              <%= link_to "#{meeting.title}", event_path(meeting.id)  %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>

  <div class="card">
    <div class="card-header">
       Have an event you want to loop Columbia in about?
    </div>
    <div class="card-body">
      <%= link_to 'Add new event!', new_event_path, :class => 'btn btn-info' %>
    </div>
  </div>

  <%# Search %>
  <div class="card">
    <div class="card-header">
       Search an event you want to join!
    </div>
    <div class="card-body">
      <%= form_tag search_path, method: :get, id: 'searchs_form' do %>
        <div class="form-inline my-2 my-lg-0">
        <input type='search' id='search_by' name='search_by' placeholder="Search Title" class="form-control mr-sm-2" />
        <button submit_tag id = "search_submit", type="search", class="btn btn-info mr-sm-2">Search</button>
        </div>
      <% end %>
    </div>
  </div>
</div>
