<% flash.each do |type, msg| %>
  <div class="alert alert-info">
    <%= msg %>
  </div>
<% end %>


<!DOCTYPE html>
<body style="font-family: courier new">
<html>
  <head>
    <title>New Event</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <link rel='stylesheet' type='text/css' href='new.css'>    

  </head>

  <p id='notice'><%= notice %></p>


  <h2>Create A New Event</h2>
  <%= form_tag events_path, :class => 'form' do %>

  <%= label :event, :title, 'Event Title', :class => 'col-form-label' %>
  <br>

  <%= text_field :event, :title, :class => 'form-control' %>
  <br>
  <label for="category"> Choose a category: </label>
  <br/>
  <%= select :event, :category, ['','academic','career','culture','athletics','fun'], {}, {class: 'form-control col-1'} %>
  <br/>

  <%= label :event, :organizer, 'Organizer', :class => 'col-form-label'  %>
  <br>
  <%= text_field :event, :organizer, :class => 'form-control' %>
  <br>
  <%= label :event, :location, 'Location', :class => 'col-form-label'  %>
  <br>
  <%= text_field :event, :location, :class => 'form-control' %>
  <br/>
  <%= label :event, :start_time, 'Start Time', :class => 'col-form-label'  %>
    <br/>
    <%= datetime_select :event, :start_time, {}, :class => 'form-control col-2 d-inline' %>

    <br/>
    <%= label :event, :end_time, 'End Time', :class => 'col-form-label'  %>
    <br/>
    <%= datetime_select :event, :end_time, {}, :class => 'form-control col-2 d-inline' %>

    <br/>
    <%= label :event, :description, 'Description', :class => 'col-form-label'  %>
    <br/>
    <%= text_field :event, :description, :class => 'form-control' %>
    
  <%= submit_tag 'Save Changes', :class => 'btn btn-primary' %>
  <br>
  <%= link_to 'Cancel', events_path, :class => 'btn btn-secondary' %>
<% end %>
</html>