<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Show Event</title>
  </head>

  <body style="font-family: courier new">
    <div class="navbar navbar-dark bg-dark shadow-sm">
      <h2 style="color: white"> <em> Details about <%= @event.title%> </em> </h2>
      <ul class="nav justify-content-end">
        <li class="nav-item">
          <%= link_to 'Events Hub', events_path, :class => 'btn btn-secondary mr-sm-2' %>
        </li>
      </ul>
    </div>

    <div>
      <% flash.each do |type, msg| %>
        <div class="alert alert-info">
          <%= msg %>
        </div>
      <% end %>
    </div>

    <div class="container mt-4">
      <ul id="details">
        <li>
          Organizer:
          <%= link_to "#{@event.user.organizer_name}", user_path(@event.user_id) %>
        </li>
        <li>
          Location:
          <%= @event.location %>
        </li>
        <li>
          Category:
          <%= @event.category %>
        </li>
        <li>
          Start Time:
          <%= @event.start_time %>
        </li>
        <li>
          End Time:
          <%= @event.end_time %>
        </li>
        <li>
          Description:
          <%= @event.description %>
        </li>
      </ul>
      <br/>

    <div class="row">
      <%= button_to 'Edit', 
        edit_event_path(@event),
        :method => :get,
        :disabled => !is_event_belongs_to_user?(@event)
      %>
      <%= button_to 'Delete', 
        event_path(@event),
        :method => :delete,
        'data-method' => 'delete', 
        'data-confirm' => 'Are you sure?', 
        :disabled => !is_event_belongs_to_user?(@event)
      %>
    </div>
    </div>
  </body>
</html>
